// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

//bootstrap-icons
@import "bootstrap-icons/font/bootstrap-icons.css";
// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
html{
    font-family: 'Poppins', sans-serif;
}
.img-thumbnail {
    height: 300px;
}
.list-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}
.single-photo-upload {
    height: 250px;
    background-color: rgb(187, 187, 187);
    border-radius: 10px;
}
.upload-logo:nth-child(2) {
    display: none;
}
.img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.upload-img {
    width: auto;
    height: 200px;
    object-fit: cover;
}
